<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <div class="flex flex-row items-center justify-between px-10 py-6 bg-card">
        <div>
            <h2 class="text-4xl font-extrabold tracking-tight leading-10 mb-2">
                Produtos
            </h2>

            <div class="flex flex-wrap items-center text-md font-medium text-cyan-600">
                <div>
                    <a>Você está em:</a>
                </div>

                <div class="ml-1">
                    <a>Produtos</a>
                </div>
            </div>
        </div>

        <button mat-raised-button routerLink="/product/create" class="bg-cyan-600 text-white" aria-label="Botão para adicionar novo item">
            <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
            Novo
        </button>
    </div>

    <div class="flex-auto px-10 py-8 bg-default border-t border-gray-200">
        <div class="grid grid-cols-4">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Buscar vinho</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar vinho" #input>
                <mat-icon matSuffix [svgIcon]="'heroicons_solid:search'"></mat-icon>
            </mat-form-field>
        </div>
        
        <div class="rounded-md border border-gray-300 bg-card">
            <table mat-table [dataSource]="dataSource" class="bg-transparent w-full">
                <ng-container matColumnDef="_id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{ element._id }} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> NOME </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> TIPO </th>
                    <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
                </ng-container>

                <ng-container matColumnDef="manufacturingDate">
                    <th mat-header-cell *matHeaderCellDef> FABRICAÇÃO </th>
                    <td mat-cell *matCellDef="let element"> {{ element.manufacturingDate | date : 'dd/MM/yyyy' }} </td>
                </ng-container>

                <ng-container matColumnDef="unitPrice">
                    <th mat-header-cell *matHeaderCellDef> PREÇO UNITÁRIO </th>
                    <td mat-cell *matCellDef="let element"> {{ element.unitPrice | currency }} </td>
                </ng-container>

                <ng-container matColumnDef="quantityProduced">
                    <th mat-header-cell *matHeaderCellDef> QUANTIDADE PRODUZIDA </th>
                    <td mat-cell *matCellDef="let element"> {{ element.quantityProduced }} </td>
                </ng-container>
                
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> AÇÃO </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="contextMenu" aria-label="more">
                            <mat-icon [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>

                        <mat-menu #contextMenu>
                            <button mat-menu-item routerLink="/product/update/{{element._id}}">
                                Editar
                            </button>

                            <button mat-menu-item routerLink="/product/delete/{{element._id}}">
                                Excluir
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="8">Nenhum dado correspondente à consulta "{{input.value}}"</td>
                </tr>
            </table>
        </div>
    </div>
</div>