<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-10 py-8 bg-card">
        <div class="flex-1 min-w-0">
            <div class="mb-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Produtos
                </h2>
            </div>

            <div class="hidden sm:flex flex-wrap items-center text-md font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Você está em:</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <a class="ml-1 text-primary-500" routerLink="/product">Produtos</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Novo</a>
                </div>
            </div>
        </div>

        <div class="flex flex-row shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <div class="mr-4">
                <button mat-stroked-button routerLink="/product">
                    <mat-icon class="icon-size-5 text-secondary mr-2" [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                    Voltar
                </button>
            </div>

            <div>
                <button mat-raised-button color="primary" aria-label="Botão para salvar novo item" (click)="save()">
                    <mat-icon class="icon-size-5 text-secondary mr-2" [svgIcon]="'heroicons_solid:save'"></mat-icon>
                    Salvar
                </button>
            </div>
        </div>
    </div>

    <div class="flex-auto px-10 py-8 bg-default border-t border-gray-200">
        <div class="min-h-min max-h-full rounded-2xl">
            <form class="text-center bg-card rounded-md border border-gray-300 px-8 pt-8 pb-6" [formGroup]="form" autocomplete="off">
                <div class="grid grid-cols-3 gap-4">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="name" placeholder="Nome">
                        <mat-error>Preenchimento obrigatório</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Tipo</mat-label>
                        <input matInput formControlName="type" placeholder="Tipo">
                        <mat-error>Preenchimento obrigatório</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Data de fabricação</mat-label>
                        <input matInput [matDatepicker]="manufacturingDate" formControlName="manufacturingDate" placeholder="DD/MM/AAAA" readonly (click)="manufacturingDate.open()" class="cursor-pointer">
                        <mat-datepicker-toggle matSuffix [for]="manufacturingDate"></mat-datepicker-toggle>
                        <mat-datepicker #manufacturingDate></mat-datepicker>
                        <mat-error>Preenchimento obrigatório</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Preço unitário</mat-label>
                        <input matInput currencyMask formControlName="unitPrice" placeholder="R$ 0,00">
                        <mat-error>Preenchimento obrigatório</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" appearance="fill">
                        <mat-label>Quantidade produzida</mat-label>
                        <input matInput formControlName="quantityProduced" placeholder="Quantidade produzida" type="number">
                        <mat-error>Preenchimento obrigatório</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
</div>