/* Mat-table */
.mat-table {
    @apply rounded-md overflow-hidden;
}

.mat-header-cell {
    @apply bg-gray-800 text-white #{!important};
}

.mat-header-cell.mat-column-action,
.mat-cell.mat-column-action {
    @apply w-20 text-center;
}

.mat-column-_id {
    @apply w-72;
}

/* Inputs */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    @apply bg-white;
}

/* Snackbar */
.sucess-snack {
    @apply bg-green-600 #{!important};

    .mat-simple-snackbar {
        @apply text-white;

        .mat-simple-snackbar-action {
            .mat-button-wrapper {
                @apply text-white;
            }
        }
    }
}

.warning-snack {
    @apply bg-yellow-600 #{!important};

    .mat-simple-snackbar {
        @apply text-black;

        .mat-simple-snackbar-action {
            .mat-button-wrapper {
                @apply text-black;
            }
        }
    }
}

.error-snack {
    @apply bg-red-600 #{!important};

    .mat-simple-snackbar {
        @apply text-white;

        .mat-simple-snackbar-action {
            .mat-button-wrapper {
                @apply text-white;
            }
        }
    }
}

/* Title pages */
.bg-title-page {
    background-image: url("../assets/images/wine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
